body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#EEE2DE;
    color: var(--text-color)
}

:root{
    --input-margin: 20px;
    --input-border:1px solid #B31312;
    --text-color: #B31312
}
.header-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    margin:50px 0px 10px 0px;
}

input{
    margin-top:var(--input-margin);
    border-radius:5px;
    border:var(--input-border);
    width:250px;
    height:30px
}

label{
    margin-right:20px;
}

form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#start-btn{
    margin-top: var(--input-margin);
    margin-bottom: var(--input-margin);
    width: 125px;
    height:25px;
    border-radius:5px;
    border:var(--input-border);
    
}


.gamegrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 750px;
    height: 750px;
    gap:10px;
}

.emptysquare, .xsquare, .osquare{
    display:flex;
    justify-content: center;
    align-items:center;
    height:250px;
    width:250px;
    border: var(--input-border);
    font-size:100px;

}

.next-turn{
    font-size:48px;
    margin-bottom:20px;
}

.sub-text,label{
    font-size:18px;
}